:root{
  --body-font_family:Vazirmatn,sans-serif;
}

/* CSS RESET */
*,
*::after,
*::before {
  margin:         0;
  padding:        0;
  border:         0;
  font:           inherit;
	font-size:      100%;
  vertical-align: baseline;
  box-sizing:     border-box;
}

/* Universal Styling */
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

body  {
  direction:rtl;
  font-family:var(--body-font_family);
}


/**
* Add this class to an image to make it fit within its fluid parent wrapper while maintaining
* aspect ratio.
*/
.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}


/*
* Blockquote 
*/

blockquote{
  border-left: .3rem solid $color-quaternary
  margin-left: 0
  margin-right: 0
  padding: 1rem 1.5rem
}
/* 
  *:last-child
    margin-bottom: 0 */
    
/**
* Always hide an element when it has the `hidden` HTML attribute.
*/

.hidden,
[hidden] {
    display: none !important;
}

/* Reset Inputs */
.input{
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}
.input:focus {
  outline: none;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Text & Background Colors */
:root{
  /* 
    --c1 : 
    --c2 : 
    --c3 : 
    --c4 : 
    --c5 : 
  */
  --c1:#131515;--c2:#FFFAFB;--c3:#339989;--c4:#f9dce0;--c5:#f9a39f;
}

.bgc1  {background-color:var(--c1);}
.bgc2  {background-color:var(--c2);}
.bgc3  {background-color:var(--c3);}
.bgc4  {background-color:var(--c4);}
.bgc5  {background-color:var(--c5);}

.brc1  {border-color:var(--c1);}
.brc2  {border-color:var(--c2);}
.brc3  {border-color:var(--c3);}
.brc4  {border-color:var(--c4);}
.brc5  {border-color:var(--c5);}

.tc1  {color:var(--c1);}
.tc2  {color:var(--c2);}
.tc3  {color:var(--c3);}
.tc4  {color:var(--c4);}
.tc5  {color:var(--c5);}

/* Display */
.flex{display:flex;}
.grid{display:grid;}
.block{display:block;}
.none{display:none;}

/*
  // Todo: Box & Vbox Need A Overhull 
  // Todo: Box-XXX size/margin/padding need a overhull 
*/

/* Box */
.box  {width:calc(100% - 2rem);margin:auto;}

.box-row  {width:100%;}
.box-col  {min-height:100vh;padding:1rem auto;}
.box-page {width:100%;min-height:100vh;padding:1rem auto;}

/* Vbox */
.vbox {width:calc(100% - 1rem);margin:auto;}
@media(min-width:768px)   {.vbox{width:calc(100% - 2rem);}}
@media(min-width:1280px)  {.vbox{width:calc(1280px - 2rem);}}

/* Gap */
.low-gap  {gap:0.5rem;}
.mid-gap  {gap:1rem;}
.high-gap {gap:2rem;}

/* Flex Direction */
.flex-row     {flex-direction:row;}
.flex-row-rev {flex-direction:row-reverse;}
.flex-col     {flex-direction:column;}
.flex-col-rev {flex-direction:column-reverse;}
/* Flex Wrap */
.flex-wrap      {flex-wrap:wrap;}
.flex-wrap-rev  {flex-wrap:wrap-reverse;}
.flex-nowrap    {flex-wrap:nowrap;}
/* Justify Content */
.jcontent-start   {justify-content:flex-start;}
.jcontent-end     {justify-content:flex-end;}
.jcontent-center  {justify-content:center;}
.jcontent-between {justify-content:space-between;}
.jcontent-around  {justify-content:space-around;}
.jcontent-evenly  {justify-content:space-evenly;}
/* Justify Items */
.jitems-start   {justify-items:start;}
.jitems-end     {justify-items:end;}
.jitems-center  {justify-items:center;}
.jitems-stretch {justify-items:stretch;}
/* Justify Self */
.jself-auto     {justify-self:auto;}
.jself-start    {justify-self:start;}
.jself-end      {justify-self:end;}
.jself-center   {justify-self:center;}
.jself-stretch  {justify-self:stretch;}
/* Align Items */
.aitems-start     {align-items:flex-start;}
.aitems-end       {align-items:flex-end;}
.aitems-center    {align-items:center;}
.aitems-baseline  {align-items:baseline;}
.aitems-stretch   {align-items:stretch;}
/* Align Content */
.acontent-baseline  {align-content:baseline;}
.acontent-start     {align-content:flex-start;}
.acontent-end       {align-content:flex-end;}
.acontent-center    {align-content:center;}
.acontent-between   {align-content:space-between;}
.acontent-around    {align-content:space-around;}
.acontent-evenly    {align-content:space-evenly;}

/* Hide */
@media(max-width:768px){.sm-hide{display:none;}}
@media(min-width:768px){.md-hide{display:none;}}

/* Defaults */
.d-bg-change   {transition:background-color 1.25s;}
.d-text-change {transition:color 1.25s;}
.d-tbg-change  {transition:background .25s,color .25s;}

/* Animations */
@keyframes height-change{
  from{height:var(--start-height);}
  to  {height:var(--end-height);}
}
@keyframes width-change{
  from{width:var(--start-height);}
  to  {width:var(--end-height);}
}
@keyframes background_color-change{
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}
@keyframes text_color-change{
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}
@keyframes opacity-change{
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}

.animation-sample{
  --start-height: 9rem;
  --end-height:   0rem;
  animation: height-change .26s;
}

.transition-width{
  transition: width .25s ease-in-out;
}

