---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<BaseLayout title="بلاگ" description="" author="" key_words="">
	<div slot="header-right">
    <a href="/blog/" class="tc3">بلاگ</a>
  </div>
  <div id="main_box" class="box flex flex-col jcontent-between tc2">

  </div>
</BaseLayout>

<style>

	#main_box{
		min-height: calc(100vh - 6rem);
		border:2px solid var(--c3) ;
		border-radius:.25rem;
		padding:.5rem;
	}
</style>