.text-left      {text-align: left;}
.text-center    {text-align: center;}
.text-right     {text-align: right;}
.text-justify   {text-align: justify;}

.text-uppercase   {text-transform: uppercase;}
.text-lowercase   {text-transform: lowercase;}
.text-capitalize  {text-transform: capitalize;}

.text-bolder    {font-weight: bolder;}
.text-bold      {font-weight: bold;}
.text-lighter   {font-weight: lighter;}
.text-normal    {font-weight: normal;}

.text-dashed{text-decoration: dashed;}
.text-dotted{text-decoration: dotted;}
.text-double{text-decoration: double;}
.text-line-through{text-decoration: line-through;}
.text-none{text-decoration: none;}
.text-overline{text-decoration: overline;}
.text-solid{text-decoration: solid;}
.text-underline{text-decoration: underline;}
.text-wavy{text-decoration: wavy;}
.text-overline{text-decoration: overline;}

/* Text */
/* .test-text{
  text-align: ;
  text-decoration: ;
  text-overflow: ;
  font-size: ;
  font-weight: ;
}
.text-dec-none{
  text-decoration:none;
} */

/*  */
/* MOBILE */
.mbox{

}
.tbox{

}
.mdbox{

}
.lgbox{

}



/*
  // Todo: Box & Vbox Need A Overhull 
  // Todo: Box-XXX size/margin/padding need a overhull 
*/

/* Box */
.box  {width:calc(100% - 2rem);margin:auto;}

.box-row  {width:100%;}
.box-col  {min-height:100vh;padding:1rem auto;}
.box-page {width:100%;min-height:100vh;padding:1rem auto;}

/* Vbox */
.vbox {width:calc(100% - 1rem);margin:auto;}
@media(min-width:768px)   {.vbox{width:calc(100% - 2rem);}}
@media(min-width:1280px)  {.vbox{width:calc(1280px - 2rem);}}


.nbox{
  width:calc(100% - 1rem);
  margin:auto;
}
@media (min-width: 640px)   {   .box{width:calc(100% - 2rem);}   }
@media (min-width: 768px)   {   .box{width:calc(100% - 2rem);}   }
@media (min-width: 1024px)  {   .box{width:calc(100% - 1rem);}   }
@media (min-width: 1280px)  {   .box{width:calc(100% - 1rem);}   }
@media (min-width: 1536px)  {   .box{width:calc(100% - 1rem);}   }

.nbox{

}
@media (min-width: 640px)   {   .NXBOX{}   }
@media (min-width: 768px)   {   .NXBOX{}   }
@media (min-width: 1024px)  {   .NXBOX{}   }
@media (min-width: 1280px)  {   .NXBOX{}   }
@media (min-width: 1536px)  {   .NXBOX{}   }