/* Universal Styling */
body{font-family:Vazirmatn,sans-serif;direction:rtl;}
*{padding:0;margin:0;box-sizing:border-box;}

/* Text & Background Colors */
:root{--c1:#131515;--c2:#FFFAFB;--c3:#339989;}
.bc1{background-color:var(--c1);}.bc2{background-color:var(--c2);}.bc3{background-color:var(--c3);}
.tc1{color:var(--c1);}.tc2{color:var(--c2);}.tc3{color:var(--c3);}

/* Font */

/* Display */
.flex{display:flex;}
.grid{display:grid;}
.block{display:block;}
.none{display:none;}

/* Text */

/* Todo: Box & Vbox Need A Overhull */
/* Box */

.box{width:calc(100% - 2rem);margin:auto;padding:0;}

.vbox{width:calc(100vw - 1rem);margin:auto;}
@media(min-width:768px){.vbox{width:calc(100% - 3rem);}}
@media(min-width:1280px){.vbox{width:calc(1280px - 3rem);}}

.box-row{width:100%;}
.box-col{min-height:calc(100vh - 3rem);padding:1rem 0;}
.box-page{width:100%;min-height:calc(100vh - 3rem);}

/* Grid */
/* Flex */
/* Gap */
.low-gap{gap:8px;}
.mid-gap{gap:16px;}
.high-gap{gap:24px;}

/* Flex Direction */
.flex-row{flex-direction:row;}.flex-row-rev{flex-direction:row-reverse;}.flex-col{flex-direction:column;}.flex-col-rev{flex-direction:column-reverse;}

/* Flex Wrap */
.flex-wrap{flex-wrap:wrap;}.flex-wrap-rev{flex-wrap:wrap-reverse;}.flex-nowrap{flex-wrap:nowrap;}

/* Flex & Grid Positioning */
.jcontent-start{justify-content:flex-start;}.jcontent-end{justify-content:flex-end;}.jcontent-center{justify-content:center;}.jcontent-between{justify-content:space-between;}.jcontent-around{justify-content:space-around;}.jcontent-evenly{justify-content:space-evenly;}
.jitems-start{justify-items:start;}.jitems-end{justify-items:end;}.jitems-center{justify-items:center;}.jitems-stretch{justify-items:stretch;}
.jself-auto{justify-self:auto;}.jself-start{justify-self:start;}.jself-end{justify-self:end;}.jself-center{justify-self:center;}.jself-stretch{justify-self:stretch;}
.aitems-start{align-items:flex-start;}.aitems-end{align-items:flex-end;}.aitems-center{align-items:center;}.aitems-baseline{align-items:baseline;}.aitems-stretch{align-items:stretch;}
.acontent-baseline{align-content:baseline;}.acontent-start{align-content:flex-start;}.acontent-end{align-content:flex-end;}.acontent-center{align-content:center;}.acontent-between{align-content:space-between;}.acontent-around{align-content:space-around;}.acontent-evenly{align-content:space-evenly;}

/* Hide */
@media(max-width:768px){.sm-hide{display:none;}}
@media(min-width:768px){.md-hide{display:none;}}


/* Defaults */
.d-bg-change   {transition:background-color 1.25s;}
.d-text-change {transition:color 1.25s;}
.d-tbg-change  {transition:background .25s,color .25s;}

/* Animations */
@keyframes height-change-animation {
  from{height:var(--start-height);}
  to  {height:var(--end-height);}
}
@keyframes width-change-animation {
  from{width:var(--start-height);}
  to  {width:var(--end-height);}
}
@keyframes background_color-change-animation {
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}
@keyframes text_color-change-animation {
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}
@keyframes opacity-change-animation {
  from {opacity:var(--start-opacity); }
  to   {opacity:var(--end-opacity); }
}

/* Reset Inputs */
.input{
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}
.input:focus {
  outline: none;
}
