---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<BaseLayout title="صفحه ی مورد نظر پیدا نشد" description="" author="" key_words="">
  <div id="main_box" class="box flex flex-col jcontent-between tc2">
    <div>

    </div>

    <div class="box-row flex flex-col aitems-center mid-gap">
      <div id="image">
        <img src="https://picsum.photos/300" alt="Picsum Picture">
      </div>
      <p class="tc5">صفحه ی مورد نظر پیدا نشد</p>
      <a href="/" class="tc2 text-small">بازگشت به <span class="tc3 text-small text-bold">خانه</span></a>
    </div>

    <div class="index-links flex flex-wrap low-gap">
      <a href="/about/" class="index-link d-tbg-change"> درباره </a>
      <a href="/blog/" class="index-link d-tbg-change"> بلاگ </a>
      <a href="/projects/" class="index-link d-tbg-change"> پروژه گان </a>
      <a href="/shelf/" class="index-link d-tbg-change"> طاقچه </a>
      <a href="" class="index-link d-tbg-change"> نرم افزار </a>
      <a href="" class="index-link d-tbg-change"> سخت افزار </a>
      <!-- <a href="" class="index-link d-tbg-change" target="_blank" rel="noopener noreferrer"> کاسپین وب </a>
      <a href="" class="index-link d-tbg-change" target="_blank" rel="noopener noreferrer"> آسان کار </a> -->
    </div>
  </div>
</BaseLayout>

<script type="module">
  document.querySelector("#copyright").textContent= new Date().getFullYear().toString();
</script>

<style>
  #footer{height:3rem;}
  #header-left_slot a{text-decoration:none;font-size:small;font-weight: bold;}
  #header-left_slot a:hover{text-decoration:underline;}

  img{
    background-color:var(--c2);
    width:300px;
    height: 300px;
    border-radius:4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

	a{text-decoration: none;}
	#main_box{
		min-height: calc(100vh - 6rem);
		border:2px solid var(--c3) ;
		border-radius:.25rem;
		padding:.5rem;
	}
	.intro-creative_title{
		position:absolute;display:flex;z-index:-1; transform:rotate(90deg) translate(2rem,-4.5rem);font-size:4rem;
		background: -webkit-linear-gradient(180deg,#131515 ,#339989,#339989,#339989,#339989,#131515);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-top:2px dashed var(--c3);

	}

	.intro-main_titles{margin-right:3rem;}
	.intro-creative_text{margin-right:1rem;}
	.intro-contact_button{
		width:9rem;padding:0.25rem;
		padding-right:3rem;margin-top:1rem;border-radius:0.8rem 0 0 0.8rem;
		background: -webkit-linear-gradient(235deg ,#339989,#339989,#131515);
		cursor: pointer;
	}
	.intro-contact_button:hover{
		color:var(--c1);
	}

	span{font-size:larger;}
	.aboutMe-text{
		direction: ltr;
	}

	.intro-contact_links{
		padding:1rem 3.5rem;		
	}

	.index-info{
		direction:ltr;
	}


	@media(max-width:768px){
		.index-links{
			width:20rem;
		}
	}
	.index-link{
		background-color:var(--c3);
		color:var(--c2);
		padding:.15rem .45rem;
		background: -webkit-radial-gradient(#326e66,#339989);
	}
	.index-link:hover{
		color:var(--c1);
	}

	.intro-text{
		direction:ltr;
		border-left:2px dashed var(--c3);
		padding-left:4px;
	}
	@media(min-width:768px){
		.intro-text{
			font-size:medium;
			border:2px dashed var(--c3);
			padding: 4px;
			position:fixed;
			bottom:3.5rem;
			left:1.5rem;
		}
	}
</style>