---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<BaseLayout title="ارتباط" description="" author="" key_words="">
  <div id="main_box" class="box flex flex-col jcontent-between tc2">


  </div>
</BaseLayout>

<style>
  #main_box{
		min-height: calc(100vh - 6rem);
		border:2px solid var(--c3) ;
	}
</style>