---
import header_closer from "@public/header_closer.svg"
---
<header class=" bgc1">
  <div id="header" class="box flex jcontent-between aitems-center">

    <div id="header-right" class="flex aitems-center">
      <a href="/" id="site_logo" class="text-medium"> تربتی </a>
      <div class="dots">
        <div class="cd1"></div>
        <div class="cd2"></div>
        <div class="cd3"></div>
      </div>
      <slot name="header-right"/>
    </div>

    <div id="header-middle" class="flex aitems-center mid-gap">
      <slot name="header-middle"/>
    </div>
    
    <div id="header-left" class="flex aitems-center mid-gap sm-hide">
      <slot name="header-left"/>
      <a href="/blog/" class="tc3">بلاگ</a>
      <a href="/shelf/" class="tc3">طاقچه</a>
      <a href="/museum/" class="tc3">موزه</a>
      <a href="/project/" class="tc3">پروژگان</a>
    </div>

    <div id="header_eyes" class="not_selected flex jcontent-between aitems-center md-hide">
      <div id="header_eye" class=""></div>
      <div id="header_eye" class=""></div>
      <div id="header_eye" class=""></div>
    </div>

  </div>
</header>
<div id="header_menu" class="not_selected md-hide bgc3">
  <div id="header_menu-box" class="flex flex-col jcontent-end aitems-start high-gap text-bold text-small">
    <slot name="header-left"/>
    <a href="/" class="tc1 text-none">صفحه ی اصلی</a>
    <a href="/blog/" class="tc1 text-none">بلاگ</a>
    <a href="/shelf/" class="tc1 text-none">طاقچه</a>
    <a href="/museum/" class="tc1 text-none">موزه</a>
    <a href="/project/" class="tc1 text-none">پروژگان</a>
    <div id="menu_closers">
      <img src={header_closer} alt="header closer for mobile devices" height="32">
    </div>
  </div>
</div>


<script type="module">
  const header_eyes = document.getElementById("header_eyes");
  const header_menu = document.getElementById("header_menu");
  const menu_closers = document.getElementById("menu_closers");

  function toggle_menu() {
    // header_menu.classList.toggle("all-hide")
    header_menu.classList.toggle("not_selected")
    header_menu.classList.toggle("selected")

    header_eyes.classList.toggle("not_selected")  
    header_eyes.classList.toggle("selected")
  }
  menu_closers.addEventListener("click", toggle_menu);
  header_eyes.addEventListener("click", toggle_menu);

</script>


<style>
  /* header{position:sticky;top:0;z-index:2;} */
  #header{height:3rem;}

  a#site_logo{transition:transform .3s ease;color:var(--c3);font-weight:bolder;font-size:medium;}
  a#site_logo:hover{text-decoration:none;transform:translate(0px,-3px);}

  /* Header EYES */
  #header_eyes{
    width: 1.75rem;
    height:30px;
  }
  #header_eye{
    width:.5rem;
    height:.5rem;
    border-radius:100%;
    background: -webkit-radial-gradient(#339989,#326e66);
  }
  #header_eyes.not_selected #header_eye{}
  #header_eyes.selected #header_eye{}

  #header_menu{
    width: 100%;
    height: calc(100vh - 3rem);
    position: absolute;
    left:0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display:flex;
    justify-content: center;
    align-items:center;

  }
  #header_menu.not_selected{
    width: 0;
    transition: width .5s .5s;

  }
  #header_menu.selected{
    width:100%;
    transition: width .5s;

  }
  #header_menu-box{
    height:calc(100vh - 6rem);
    border:2px solid var(--c1);
    border-radius: .25rem;
    padding:.5rem;
  }
  #header_menu.not_selected #header_menu-box{
    width: 0;
    opacity: 0;
    transition: width .5s .5s , opacity .5s ;
  }
  #header_menu.selected #header_menu-box{
    width:calc(100% - 2rem);
    opacity: 1;
    transition: width .5s , opacity .5s .5s;
  }
  #header_menu,#header_menu-box{
    
  }





  /* DOTS */
  .dots{
    width:35px;
    height:20px;
  }
  .cd1,.cd2,.cd3{
    position: absolute;
    top: 0;
    border-radius:100%;
    width:.5rem;
    height:.5rem;
    background: -webkit-radial-gradient(#339989,#326e66);
  }
  .cd1{
    transform: translate(-1rem,1rem);
  }
  .cd2{
    transform: translate(-1rem,1.6rem);
  }
  .cd3{
    transform: translate(-.5rem,1.25rem);
  }

  a#site_logo:hover ~ .dots .cd1{
    --tcsx:-1rem;
    --tcsy:1rem;
    --tcex:-.5rem;
    --tcey:1.25rem;
    animation:translate-change .25s infinite;
  }
  a#site_logo:hover ~ .dots .cd2{
    --tcsx:-1rem;
    --tcsy:1.6rem;
    --tcex:-1rem;
    --tcey:1rem;
    animation:translate-change .25s infinite;
  }
  a#site_logo:hover ~ .dots .cd3{
    --tcsx:-.5rem;
    --tcsy:1.25rem;
    --tcex:-1rem;
    --tcey:1.6rem;
    animation:translate-change .25s infinite;
  }
  @keyframes translate-change {
    from {transform: translate(var(--tcsx),var(--tcsy))}
    to   {transform: translate(var(--tcex),var(--tcey))}
  }

</style>

